{include file="Public/header"}
<div class="app-container">
    <div class="row content-container">
        {include file="Public/nav"}
        <div class="copyrights">rehellinen后台管理</div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <div class="col-xs-12" style="padding: 0">
                        <div class="card">
                            <div class="card-header">

                                <div class="card-title">
                                    <div class="title">我发布的商品</div>
                                </div>
                            </div>
                            <div class="card-body" style="padding: 8px">
                                <table class="table table-bordered table-striped" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>名字</th>
                                        <th>价格</th>
                                        <th>数量</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <form class="listForm">
                                            {volist name="goods" id="vo"}
                                            <tr>
                                                <td>{$vo.name}</td>
                                                <td>{$vo.price}</td>
                                                <td>{$vo.quantity}</td>
                                                <td>
                                                    <span class="fa fa-edit editButton" attr-id="{$vo.id}"></span>
                                                    <span class="glyphicon glyphicon-remove statusButton" attr-id="{$vo.id}" attr-status="-1"></span>
                                                </td>
                                            </tr>
                                            {/volist}
                                        </form>
                                    </tbody>
                                </table>
                                <div class="row">
                                    {$goods->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    var URL = {
        'success_url' : "{:url('seller/Goods/index')}",
        'edit_url' : "{:url('seller/Goods/edit')}",
        'status_url' : "{:url('seller/Goods/setStatus')}"
    };
</script>
{include file="Public/footer"}
