<!--<footer class="app-footer">-->
    <!--<div class="wrapper">-->
        <!--© 2017 Copyright. rehellinen 后台管理-->
    <!--</div>-->
<!--</footer>-->

</div>
<!-- Javascript Libs -->
<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/huploadify/jquery.Huploadify.js"></script>
    <script type="text/javascript" src="__STATIC__/admin/js/image.js"></script>
<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/Chart.min.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/bootstrap-switch.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/jquery.matchHeight-min.js"></script>
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/dataTables.bootstrap.min.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/select2.full.min.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/ace/ace.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/ace/mode-html.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/ace/theme-github.js"></script>-->
<!-- Javascript -->
<script type="text/javascript" src="__STATIC__/btzero_10_flat/js/app.js"></script>
<script type="text/javascript" src="__STATIC__/btzero_10_flat/js/index.js"></script>
    <script src="__STATIC__/admin/js/common.js"></script>
    <script src="__STATIC__/admin/js/dialog/layer.js"></script>
    <script src="__STATIC__/admin/js/dialog.js"></script>

</body>

</html>