<!DOCTYPE html>
<html>

<head>
    <title>rehellinen后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/checkbox3.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/select2.min.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/css/themes/flat-blue.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/common.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/huploadify/Huploadify.css"/>
</head>
<body class="flat-blue">