<nav class="navbar navbar-default navbar-fixed-top navbar-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-expand-toggle">
                <i class="fa fa-bars icon"></i>
            </button>
            <a href="{:url('admin/index/index')}">
                <ol class="breadcrumb navbar-breadcrumb">
                    <li class="active">R E H E L L I N E N</li>
                </ol>
            </a>
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-th icon"></i>
            </button>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
                <i class="fa fa-times icon"></i>
            </button>
            <li class="dropdown profile">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{$user.name}<span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeInDown">
                    <li class="profile-img">
                        <img src="__STATIC__/btzero_10_flat/img/profile/picjumbo.com_HNCK4153_resize.jpg" class="profile-img">
                    </li>
                    <li>
                        <div class="profile-info">
                            <h4 class="username">{$user.name}</h4>
                            <p>{$user.email}</p>
                            <div class="btn-group margin-bottom-2x" role="group">
                                <button type="button" class="btn btn-default"><i class="fa fa-user"></i> 不存在的</button>
                                <a href="{:url('admin/login/logout')}">
                                    <button type="button" class="btn btn-default"><i class="fa fa-sign-out"></i>退出登录</button>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="side-menu sidebar-inverse">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <div class="icon fa fa-paper-plane"></div>
                    <div class="title">rehellinen后台管理</div>
                </a>
                <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                    <i class="fa fa-times icon"></i>
                </button>
            </div>
            <ul class="nav navbar-nav">
                <li class="{if condition="$controller == 'Index'"}active{/if}">
                    <a href="{:url('admin/index/index')}">
                        <span class="icon fa fa-tachometer"></span><span class="title">首页</span>
                    </a>
                </li>
                {volist name="navMenu" id="vo"}
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#dropdown-{$vo.m}{$vo.c}">
                        <span class="icon fa fa-cubes"></span><span class="title">{$vo.name}</span>
                    </a>
                    <div id="dropdown-{$vo.m}{$vo.c}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                {volist name="vo.child" id="nav"}
                                <li><a href="__INDEX__/{$nav.m}/{$nav.c}/{$nav.f}">{$nav.name}</a></li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </li>
                {/volist}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>