{include file="Public/header"}
<div class="app-container">
    <div class="row content-container">
        {include file="Public/nav"}
        <div class="copyrights">rehellinen后台管理</div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <h4>下架商品</h4>
                    {volist name="goods" id="vo"}
                    <div class="col-xs-6" style="padding: 0 3px">
                        <div class="thumbnail no-margin-bottom getWidth" >
                            <img src="__UPLOAD__{$vo.photo}" class="img img-responsive">
                            <div class="caption">
                                <h4>名字：{$vo.name}</h4>
                                <p>￥{$vo.price}</p>
                                <p>数量：{$vo.quantity}</p>
                                <p>卖家：{$vo.seller_id}</p>
                                <p>描述：{$vo.description}</p>
                                <button class="btn btn-default statusButton" attr-id="{$vo.id}" attr-status="1">上架</button>
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
                <div class="row">
                    {$goods->render()}
                </div>
                <br />
            </div>
        </div>
    </div>

    <script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/jquery.min.js"></script>

    <script>
        var width = $(".getWidth").width();
        $(".img").height(width * 0.9);
    </script>

    <script>
        var URL = {
            'listorder_url' : "{:url('admin/Goods/listorder')}",
            'success_url' : "{:url('admin/goods/down')}",
            'status_url' : "{:url('admin/goods/setStatus')}"
        };
    </script>
    {include file="Public/footer"}
