{include file="Public/header"}
<div class="app-container">
    <div class="row content-container">
        {include file="Public/nav"}
        <div class="copyrights">rehellinen后台管理</div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <div class="">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <div class="title">修改商品信息</div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="form-horizontal" id="submitForm" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="id" value="{$res.id}" />

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">图片:</label>
                                        <div class="col-sm-5">
                                            <div id="upload" style="width: 50%"></div>
                                            <img id="upload_org_code_img" src="{$res.image_id}" width="150" height="150">
                                            <input id="file_upload_image" name="image_id" type="hidden" multiple="true" value="{$res.image_id}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">类型:</label>
                                        <div class="col-sm-5">
                                            <select name="type" class="form-control">
                                                <option value="1" {$res.type == 1 ? 'selected' : ''}>自营</option>
                                                <option value="2" {$res.type == 2 ? 'selected' : ''}>旧物</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">自营商家:</label>
                                        <div class="col-sm-5">
                                            <select name="shop_id" class="form-control">
                                                {volist name="shop" id="vo"}
                                                <option value="{$vo.id}" {$vo.name == $res.foreign_id ? 'selected' : ''}>{$vo.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="name">商品名称:</label>
                                        <div class="col-sm-5">
                                            <input type="text" value="{$res.name}" id="name" name="name" placeholder="请填写商品名称" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="subtitle">小标题:</label>
                                        <div class="col-sm-5">
                                            <input type="text" value="{$res.subtitle}" id="subtitle" name="subtitle" placeholder="请填写小标题" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="price">价格:</label>
                                        <div class="col-sm-5">
                                            <input type="text" value="{$res.price}" id="price" name="price" placeholder="请填写价格" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="quantity">数量:</label>
                                        <div class="col-sm-5">
                                            <input type="text" value="{$res.quantity}" id="quantity" name="quantity" placeholder="请填写数量" class="form-control"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label" for="description">详细描述:</label>
                                        <div class="col-sm-5">
                                            <textarea rows="3" id="description" name="description" placeholder="请填写详细描述" class="form-control">{$res.description}</textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="button" id="submitButton" class="btn btn-default">提交</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var URL = {
            'submit_url' : "{:url('admin/goods/edit')}",
            'success_url' : "{:url('admin/goods/index')}",
            'image_url' : "{:url('api/v1.image/upload')}"
        };
    </script>
    {include file="Public/footer"}
