{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/common.css">

<div class="row content-container">
    {include file="public/nav"}

    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <div class="title">商品管理</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {volist name="goods" id="vo"}
                            <div class="col-xs-12 col-md-4 col-sm-6 col-lg-3">
                                <div class="thumbnail no-margin-bottom">
                                    <img src="__UPLOAD__{$vo.photo}" class="img-responsive">
                                    <div class="caption">
                                        <p>排序：<input attr-id="{$vo.id}" class="listorder" value="{$vo.listorder}"/></p>
                                        <p>名称：{$vo.name}</p>
                                        <p>价格：{$vo.price}</p>
                                        <p>数量：{$vo.quantity}</p>
                                        <p>卖家：{$vo.seller_id}</p>
                                        <button class="btn btn-default statusButton" attr-id="{$vo.id}" attr-status="-1">删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var URL = {
        'listorder_url': "{:url('admin/Goods/listorder')}",
        'success_url': "{:url('admin/Goods/index')}",
        'status_url': "{:url('admin/Goods/setStatus')}"
    };
</script>
{include file="public/footer"}
