{include file="public/header"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/css/common.css">

<div class="row content-container">
    {include file="public/nav"}

    <div class="container-fluid">
        <div class="side-body">
            <div class="row">
                <div class="card">
                    <div class="card-body" style="padding: 20px 10px">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading">自营商品管理</div>
                            <!-- Table -->
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>排序</th>
                                    <th>商品名称</th>
                                    <th>小标题</th>
                                    <th>价格</th>
                                    <th>数量</th>
                                    <th>商家</th>
                                    <th>状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {volist name="goods" id="vo"}
                                <tr>
                                    <td><input attr-id="{$vo.id}" class="listorder" value="{$vo.listorder}" /></p>
                                    </td>
                                    <td>{$vo.name}</td>
                                    <td>{$vo.subtitle}</td>
                                    <td>{$vo.price}</td>
                                    <td>{$vo.quantity}</td>
                                    <td>{$vo.shop.name}</td>
                                    <td class="statusButton" attr-id="{$vo.id}" attr-status="{$vo.status == 0 ? 1 : 0}">{$vo.status|getStatus}
                                    </td>
                                    <td>
                                        <span class="fa fa-pencil-square editButton" attr-id="{$vo.id}"></span>
                                        <span class="glyphicon glyphicon-remove statusButton" attr-id="{$vo.id}" attr-status="-1"></span>
                                    </td>
                                </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var URL = {
        'listorder_url': "{:url('admin/goods/listorder')}",
        'success_url': "{:url('admin/goods/newGoods')}",
        'status_url': "{:url('admin/goods/setStatus')}",
        'edit_url': "{:url('admin/goods/edit')}"
    };
</script>
{include file="public/footer"}
