<footer class="">
    <div class="wrapper" style="margin-bottom: 20px;margin-top:20px">
        <p style="text-align: center">© 2017 Copyright. 暨南人网络联盟</p>
    </div>
</footer>
<div>

<!-- Javascript Libs -->
<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/jquery.matchHeight-min.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/ace/ace.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/ace/mode-html.js"></script>-->
<!--<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/ace/theme-github.js"></script>-->
<!-- Javascript -->
<script type="text/javascript" src="__STATIC__/btzero_10_flat/js/app.js"></script>
<script type="text/javascript" src="__STATIC__/btzero_10_flat/js/index.js"></script>
    <script src="__STATIC__/admin/js/common.js"></script>
    <script src="__STATIC__/admin/js/dialog/layer.js"></script>
    <script src="__STATIC__/admin/js/dialog.js"></script>

</body>

</html>