<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>网联跳蚤市场</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/bootstrap.min.css">
    <!--link href="__STATIC__/admin/uploadify/uploadify.css" rel="stylesheet"-->
</head>
<body>

<div class="container ">
    <form id="submitForm" method="post" enctype="multipart/form-data" class="form-signin form-horizontal">
        <div class="form-group">
            <div class="col-sm-4"><h2>跳蚤市场买家注册</h2></div>
        </div>
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">名字:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" id="name" placeholder="请填写名字">
            </div>
        </div>

        <div class="form-group">
            <label for="tele" class="col-sm-2 control-label">电话:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="tele" id="tele" placeholder="请填写电话">
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="email" id="email" placeholder="请填写邮箱">
            </div>
        </div>

        <div class="form-group">
            <label for="weixin" class="col-sm-2 control-label">微信号:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="weixin" id="weixin" placeholder="请填写微信号">
            </div>
        </div>

        <div class="form-group">
            <label for="zhifubao" class="col-sm-2 control-label">支付宝:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="zhifubao" id="zhifubao" placeholder="请填写支付宝账号">
            </div>
        </div>

        <div class="form-group">
            <label for="dormitory" class="col-sm-2 control-label">宿舍号:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="dormitory" id="dormitory" placeholder="请填写宿舍号">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码:</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password" id="password" placeholder="请填写密码">
            </div>
        </div>



        <!--div class="form-group">
            <label for="verifyCode" class="col-sm-2 control-label"></label>
            <div class="col-sm-5">{:captcha_img()}</div>
        </div>


        <div class="form-group">
            <label for="verifyCode" class="col-sm-2 control-label">验证码:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="verifyCode" id="verifyCode" placeholder="请填写验证码">
            </div>
        </div-->

        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button id="submitButton" class="btn btn-primary" type="button">申请</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <p>Ps : 跳蚤市场的登录账号为注册用的手机号</p>
                <a href="{:url('index/login/index')}"><p>我已申请，点我登陆</p></a>
                <a href="{:url('index/index/index')}"><p>不注册，随便逛逛</p></a>
            </div>
        </div>
    </form>
</div>
<script>
    var URL = {
        'submit_url' : "{:url('index/Register/register')}",
        'success_url' : "{:url('index/Register/wait')}"
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/js/common.js"></script>
<script src="__STATIC__/admin/js/dialog/layer.js"></script>
<script src="__STATIC__/admin/js/dialog.js"></script>
<!--script src="__STATIC__/admin/uploadify/jquery.uploadify.min.js"></script>
<script src="__STATIC__/admin/js/image.js"></script-->
</body>
</html>
