{include file="Public/header"}
<div class="app-container">
    <div class="row content-container">
        {include file="Public/nav"}
        <div class="copyrights">rehellinen后台管理</div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <div class="card">
                        <div class="card-body" style="padding: 20px 10px">
                            <div class="panel panel-default">
                                <!-- Default panel contents -->
                                <div class="panel-heading">订单管理</div>
                                <!-- Table -->
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>排序</th>
                                        <th>订单名</th>
                                        <th>总价格</th>
                                        <th>买家</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {volist name="order" id="vo"}
                                    <tr>
                                        <td><input attr-id="{$vo.id}" class="listorder" value="{$vo.listorder}" /></p>
                                        </td>
                                        <td>{$vo.snap_name}</td>
                                        <td>{$vo.total_price}</td>
                                        <td>{$vo.buyer_id}</td>
                                        <td>{$vo.status|getOrderStatus}</td>
                                        <td>
                                            <span class="fa fa-pencil-square editButton" attr-id="{$vo.id}" attr-image="0"></span>
                                            <span class="glyphicon glyphicon-remove statusButton" attr-id="{$vo.id}" attr-status="-1"></span>
                                            {if condition="$vo.status === 6"}
                                                <button class="btn btn-success btn-sm withdrawButton button-left-margin" attr-id="{$vo.id}">提现完成</button>
                                            {/if}
                                        </td>
                                    </tr>
                                    {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {$order->render()}
                </div>
                <br />
            </div>
        </div>
    </div>


    <script>
        var URL = {
            'listorder_url' : "{:url('admin/order/listorder')}",
            'success_url' : "{:url('admin/order/index')}",
            'status_url' : "{:url('admin/order/setStatus')}",
            'withdraw_url' : "{:url('admin/order/withdraw')}"
        };
    </script>
    {include file="Public/footer"}
