<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>网联跳蚤市场</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/btzero_10_flat/lib/css/bootstrap.min.css">
</head>
<body>

<div class="container ">
    <form id="submitForm" method="post" enctype="multipart/form-data" class="form-signin form-horizontal">
        <div class="form-group">
            <div class="col-sm-4"><h2>网联内部管理系统</h2></div>
        </div>
        <div class="form-group">
            <label for="telephone" class="col-sm-2 control-label">手机号:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="telephone" id="telephone" placeholder="请填写手机号">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码:</label>
            <div class="col-sm-5">
                <input type="password" class="form-control" name="password" id="password" placeholder="请填写密码">
            </div>
        </div>

        <br />
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button id="submitButton" class="btn btn-primary" type="button">登录</button>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <a href="{:url('index/index/index')}"><p>点我返回跳蚤市场首页</p></a>
            </div>
        </div>
    </form>
</div>
<script>
    var URL = {
        'submit_url' : "{:url('admin/Login/check')}",
        'success_url' : "{:url('admin/index/index')}"
    }
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="__STATIC__/btzero_10_flat/lib/js/bootstrap.min.js"></script>
<script src="__STATIC__/admin/js/common.js"></script>
<script src="__STATIC__/admin/js/dialog/layer.js"></script>
<script src="__STATIC__/admin/js/dialog.js"></script>
</body>
</html>
