{include file="Public/header"}
<div class="app-container">
    <div class="row content-container">
        {include file="Public/nav"}
        <div class="copyrights">rehellinen后台管理</div>
        <!-- Main Content -->
        <div class="container-fluid">
            <div class="side-body">
                <div class="row">
                    <h4>买家列表</h4>
                    {volist name="deal" id="vo"}
                    <div class="">
                        <div class="thumbnail no-margin-bottom">
                            <div class="caption">
                                <h4>商品名称：{$vo.goods_id}</h4>
                                <p>买家名称：{$vo.buyer_id}</p>
                                <p>卖家名称：{$vo.seller_id}</p>
                            </div>
                        </div>
                    </div>
                    {/volist}
                </div>
                <div class="row">
                    {$deal->render()}
                </div>
                <br />
            </div>
        </div>
    </div>


    <script>
        var URL = {
            'listorder_url' : "{:url('admin/buyer/listorder')}",
            'success_url' : "{:url('admin/buyer/index')}",
            'status_url' : "{:url('admin/buyer/setStatus')}"
        };
    </script>
    {include file="Public/footer"}
